$primary-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$secondary-font: sans-serif;

$primary-color: white;
$secondary-color: black;
$pfontcolor: lightgray;

$margin-button: 0.5em;